html,body {
    	background-color: lightblue;
	    margin:0;
    	padding:0;
    	height:100%;
}
h1 {
    	color: navy;
    	margin-left: 20px;
}
h4 {
	color: navy;
}
p {
	color: #4B0082;
}

#table {

    	float:left;
    	margin-left: 10px;

}
#plot {

    	float:left;
    	margin-left: 10px;

}
#wrapper {
    	min-height:100%;
    	position:relative;
}
#header {
    	padding:10px;
    	background:#5ee;
}
#content {
        max-width: 2100px;
    	padding:10px;
    	padding-bottom:80px; /* Height of the footer element */
	    display: inline-block; 
}
#footer {
    	width:100%;
    	height:80px;
    	position:relative;
    	bottom:0;
    	left:0;
    	background: #6666FF;
}
#menu {
    	float:left;
    	margin-left: 20px;
}
#datamining {
    	float:left;
    	margin-left: 100px;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
}
#best_offer_left{
    float:left;
    width:30%;

}
#best_offer_right{
    float:right;
    width:70%;

}

